{% extends 'XideaProductBundle::main.html.twig' %}
{% block bundle_title %}
    <h1 class="page-header">{{ 'product_create.title'|trans }}</h1>
{% endblock %}
{% block bundle_main %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'product_create.title'|trans }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {{ include('XideaProductBundle:Product/Main:form.html.twig') }}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}
