<div class="product product-form">
{{ form_start(form, {'multipart': true}) }}
    {% block product_form %}
        {{ form_widget(form) }}
    {% endblock %}
    <p>
        {{ 'form.required_fields'|trans|raw }}
    </p>
{{ form_end(form) }}
</div>